/**
 * Local Barlow font definitions for webOS compatibility
 * These replace Google Fonts imports which don't work with file:// protocol
 */

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/barlow-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/barlow-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/barlow-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/barlow-700.woff2') format('woff2');
  font-display: swap;
}
