/* Local fonts for webOS compatibility (Google Fonts doesn't work with file:// protocol) */
@import url('./local-fonts.css');

/* Import all base styles. */
@import url('./reset.css');
@import url('./variables/variables.css');
@import url('./global/global.css');
@import url('./transitions.css');
@import url('./typography.css');

/* Import webOS TV optimizations */
@import url('./global/webos-tv.css');
