:root {
  /* Default. */
  --black-color: #000;
  --white-color: #fff;

  /* Theme colours. */
  --theme-color: #6313bc;
  --theme-color-light: #8a4ed6;

  /* Snack colours. */
  --success-color: rgb(28 130 38);
  --error-color: rgb(237 0 0);
  --info-color: rgb(61 115 238);

  /* Border colour. */
  --border-color: rgb(141 149 157 / 25%);

  /* Box shadow. */
  --box-shadow-large: 0 0 3px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 10%);
  --box-shadow-medium: 0 0 2px rgb(0 0 0 / 5%), 0 8px 16px rgb(0 0 0 / 10%);
  --box-shadow-small: 0 0 1px rgb(0 0 0 / 5%), 0 4px 8px rgb(0 0 0 / 10%);

  /* Text shadow. */
  --text-shadow: 1px 1px 2px rgb(0 0 0 / 10%);

  /* Light colours. */

  --invert-color: var(--black-color);
  --invert-color-clear: rgb(18 18 18 / 20%);

  /* Font colours. */
  --header-font-color: var(--invert-color);
  --body-font-color: rgb(0 0 0 / 85%);
  --secondary-font-color: #888;

  /* Background. */
  --body-background-color: #f9f9f9;
  --background-color: var(--white-color);
  --secondary-background-color: #f2f2f2;
  --hover-selected-color: var(--secondary-background-color);
  --invert-background-color: var(--black-color);
  --track-background-color: var(--background-color);
  --track-hover-background-color: #fafbfb;
  --modal-background-color: var(--background-color);

  /* Blur. */
  --image-blur: linear-gradient(
    to bottom,
    rgb(18 18 18 / 30%),
    rgb(255 255 255 / 20%),
    var(--body-background-color)
  );
}

.dark {
  /* Dark colours. */

  --invert-color: var(--white-color);
  --invert-color-clear: rgb(255 255 255 / 40%);

  /* Font colours. */
  --header-font-color: var(--invert-color);
  --body-font-color: rgb(255 255 255 / 85%);
  --secondary-font-color: #aaa;

  /* Background. */
  --body-background-color: #212121;
  --background-color: #181818;
  --secondary-background-color: #292929;
  --hover-selected-color: var(--secondary-background-color);
  --invert-background-color: var(--white-color);
  --track-background-color: var(--background-color);
  --track-hover-background-color: #181b22;
  --modal-background-color: var(--background-color);

  /* Blur. */
  --image-blur: linear-gradient(
    to bottom,
    rgb(255 255 255 / 40%),
    rgb(18 18 18 / 30%),
    var(--body-background-color)
  );
}
